:host {
    height: 80vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .description {
        margin-top: 20px;
        font-size: 16px;
    }
}
