<ng-container *ngIf="cities$ | async as cities; else noCities">
    <weather-master-view [cities]="cities"
                         (expandForecast)="expandForecast($event)"
                         (getForecast)="getForecast($event)">
    </weather-master-view>

    <weather-detail-view *ngIf="city$ | async as city"
                         [size]="6"
                         [model]="city">
    </weather-detail-view>
</ng-container>

<ng-template #noCities>
    <loader></loader>
</ng-template>
