@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: whitesmoke;
}

cities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px;
}

h1 {
    margin-bottom: 50px;
}
