<table mat-table
       [dataSource]="cities"
       class="mat-elevation-z8">
    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <img mat-card-avatar [src]="element.icon"/>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="temp">
        <th mat-header-cell *matHeaderCellDef>Temperature</th>
        <td mat-cell *matCellDef="let element">{{element.temp}}°</td>
    </ng-container>

    <ng-container matColumnDef="wind">
        <th mat-header-cell *matHeaderCellDef>Wind strength</th>
        <td mat-cell *matCellDef="let element"> {{element.wind}}km/h</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>

    <tr mat-row *matRowDef="let city; columns: cols"
        (click)="showForecast(city.id, city.forecast)">
    </tr>
</table>
